main{
    display:flex;
    justify-content: center;

    .hero{
        display: flex;
        flex-flow: column;
        margin-bottom: $unit-double;

        .hero-img{

            img{
                width: 100%;
            }
        }

        .hero-copy{
            padding: $unit;
        }

    }
}

@media (min-width: 720px){ 
    main{
        .hero{
            align-items: center;
            flex-flow: row;
            max-width:1280px;
            margin-bottom: $desktop-unit-double;
    
            .hero-img{
    
                img{
                }
            }
    
            .hero-copy{
                padding: $desktop-unit;
    
                h1{
                    text-align: left;
                }
            }
    
        }
    }
  }