main{
    display:flex;
    justify-content: center;
    flex-flow:row;
    flex-wrap: wrap;

    .container{
        width:32em;
        margin:0;

        .intro{
            display: flex;
            flex-flow: column;
            justify-items: center;
            align-items: center;

            .intro-img{

                img{
                    margin-left: 20%;
                    width:60%;
                }
            }
            p{

            }
        }
    }

    .hero{
        display: flex;
        flex-flow: column;
        margin: 0;

        .hero-img{

            img{
                width: 100%;
            }
        }

        .hero-copy{
            margin: 0 $unit;

            ul{
                margin:0;
                padding:0;

                li{
                    display: inline-block;
                    margin-right: $unit;
                }
            }
        }

    }
}

section{
    margin: $unit-double $unit;

    .ul-help{
        display: flex;
        flex-flow: column;
    
        .li-help{
            display:flex;
            flex-flow: column;
            align-items: center;
    
            img{
                height: 6em;
                width: auto;
            }
        }
    
        p{
            text-align: center;
        }
    }
}

hr{
    border: 1px solid $primary-color;
    width: 90%;
}

@media (min-width: $media-desktop){ 
    main{
        .container{
            .intro{
                flex-flow: row;
                align-items: center;

                .intro-img{
                    flex: 1;

                    img{
                        width:100%;
                        margin-left: 0;
                    }
                }
                p{
                    margin-left: $desktop-unit;
                    flex: 2;
                }
            }
        }

        .hero{
            align-items: center;
            flex-flow: row;
            max-width:1280px;
    
            .hero-copy{
                padding: $desktop-unit;
    
                h1{
                    text-align: left;
                }
            }
    
        }

        section{
            margin: $desktop-unit-double 0;
        }

        hr{
            width: 100%;
        }
        
        .ul-help{
            flex-flow: row wrap;
            justify-content: space-between;

            .li-help{
                width:49%;

                &:first-child{
                    width:100%;
                }
            }

            p{
                text-align: center;
            }
        }
    }
}