main{
    display:flex;
    justify-content: center;
    flex-flow:row;
    flex-wrap: wrap;

    .container{
        width:32em;
        margin:0;

        .intro{
            display: flex;
            flex-flow: row;
            align-items: center;

            .intro-img{

                flex-grow: 2;

                img{
                    width:100%;
                }
            }
            p{
                flex-grow: 1;
                
            }
        }
    }

    .hero{
        display: flex;
        flex-flow: column;
        margin: 0;

        .hero-img{

            img{
                width: 100%;
            }
        }

        .hero-copy{
            padding: $unit;

            ul{
                margin:0;
                padding:0;

                li{
                    display: inline-block;
                    margin-right: $unit;
                }
            }
        }

    }
}

section{
    margin: $unit-double $unit-half;
}

hr{
    border: 1px solid $primary-color;
    width: 90%;
}

@media (min-width: $media-desktop){ 
    main{
        .hero{
            align-items: center;
            flex-flow: row;
            max-width:1280px;
    
            .hero-img{
    
                img{
                }
            }
    
            .hero-copy{
                padding: $desktop-unit-double;
    
                h1{
                    text-align: left;
                }
            }
    
        }
    }

    section{
        margin: $desktop-unit-double 0;
    }

    hr{
        width: 100%;
    }
  }