.button {
    color: $base;
    text-align: center;
    background-color: $primary-color;
    border-radius: 10px;
    border: none;
    display: block;
    padding: $desktop-unit-half $desktop-unit;
    overflow: hidden;
    text-decoration: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    transition: all 0.1s ease-in-out;

    &:hover{
      @include box-shadow;
      transform: scale(1.05, 1.05);
    }
    
  }