.button {
  color: $white;
  text-align: center;
  background-color: $primary-color;
  border-radius: 10px;
  border: none;
  display: block;
  width: fit-content;
  padding: $unit-half $unit;
  margin-bottom: $unit-half;
  overflow: hidden;
  text-decoration: none;

  //animation bg swipe to right
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;

  &:before{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: lighten( $primary-color, 5% );
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }

  &:hover:before, &:focus:before, &:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

.icon-button{
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;

  &:hover, &:focus {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
}

//social media

.facebook{
  background-color: $facebook-blue;

  &:before{
    background: lighten( $facebook-blue, 5% );
  }
}

.instagram{
  background-color: $instagram-purple;

  &:before{
    background: lighten( $instagram-purple, 5% ); 
  }
}

.twitter{
  background-color: $twitter-blue;

  &:before{
    background: darken( $twitter-blue, 5% );
  }
}

.youtube{
  background-color: $youtube-red;

  &:before{
    background: darken( $youtube-red, 5% );
  }
}

.whatsapp{
  background-color: $whatsapp-green;

  &:before{
    background: darken( $whatsapp-green, 5% );
  }
}

@media (min-width: $media-desktop){ 
  .button{
    padding: $desktop-unit-half $desktop-unit;
    margin-bottom: $desktop-unit-half;
  } 
}
