.button {
    color: $base;
    background-color: $primary-color;
    border-radius: 10px;
    border: none;
    display: block;
    padding: $desktop-unit-half;
    overflow: hidden;
    text-decoration: none;
  }