body{
  font: normal 18px/170% $font-family;
  color: $body-color;
}

//Desktop size
@media (min-width: $media-desktop){ 
  body {
    font-size:22px;
}

}
h1, h2, h5, a{
  color: $primary-color;
}

h1,h2,h3,h4,h5,label {
  @include bold-font;
}

h1{
  font-size: 2em;
  text-transform: capitalize;
}

@media (min-width: $media-desktop){
  h1{
    font-size: 2.2em;
  }
}

h2{
  font-size: 1.6em;
  text-transform: capitalize;
}

h3{
  font-size: 1.25em;
}

h4{
  font-size: 1.1em;
}

h5{
  font-size: 0.8em;
}

a{
  text-decoration: none;
}

label{
  color: $grey-out;
}

ul{
  padding:0;
}

//Block quotes
figure{
  border-left: 6px solid $primary-color;
  padding-left: $unit;

  blockquote{
    font-size: 1.25em;
    color: $primary-color;
    font-weight: 700;
    margin: 0;

  }

  figcaption{
  font-weight: 700;
    
    cite{
      font-size: 0.8em;
      font-weight: 500;
      font-style: normal;
    }
  }
}


@media (min-width: $media-desktop){ 
  figure{
    margin: $desktop-unit-double -100px $desktop-unit-double 270px;
  }
}


//Text Links
.text-link{
  font-weight: 700;
  border-bottom: 3px solid;
  padding-bottom: 0;  
  background-size: 100% 200%;
  background-image: linear-gradient(to bottom, $white 50%, $primary-color 50%);
  -webkit-transition: background-position 100ms;
  -moz-transition: background-position 100ms;
  transition: background-position 100ms;

    &:hover{
      color: white;
      background-position: 0% 100%;
    }
}

.text-link-invert{
  font-weight: 700;
  border-bottom: 3px solid;
  padding-bottom: 0;  
  color: $white;
  background-size: 100% 200%;
  background-image: linear-gradient(to bottom, $primary-color 50%, $white 50%);
  -webkit-transition: background-position 0.1s ease-in-out;;
  -moz-transition: background-position 0.1s ease-in-out;;
  transition: background-position 0.1s ease-in-out;;

  &:hover{
    color: $primary-color;
    background-position: 0% 100%;
  }
}