// Colors
$primary-color: #23A692;
$secondary-color: #ab2d2e;
$body-color: #282828;
$header-color: $primary-color;
$base: #F7F6F0;
$white: #FFFFFF;

// Font families
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,700;1,500;1,700&display=swap"); /* Using a url */

$font-family: 'Poppins', Helvetica, sans-serif;

@mixin bold-font {
    font-family: $font-family;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }  

@mixin box-shadow {
  -webkit-box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.3);
}

// Spacing
$desktop-unit: 30px;
$desktop-unit-double: $desktop-unit * 2;
$desktop-unit-half: $desktop-unit / 2;

$mobile-unit: 20px;
$mobile-unit-double: $mobile-unit * 2;
$mobile-unit-half: $mobile-unit / 2;